.Madencilik{
    background-color: rgba(248, 242, 215);
    border: 3px solid gold;
    border-radius: 1rem;
    padding: 1rem;
}

.Madencilik h2{
    margin-top: .1rem;
    color: darkgoldenrod;
}
 
.madenciler > * {
    margin-right: .5rem;
}

.ozet{
    margin-top: 1rem;
    border-top: 5px solid rgb(255, 238, 144);
    border-bottom: 5px solid rgb(255, 238, 144);
    background-color: rgb(251, 163, 0, 0.9);
    padding: 6px 3px;
    color: rgb(255, 255, 255, 0.8);
}

.toplam{
    font-weight: bold;
}